#language-menu .caret
  display: none

.flag-icon
  background-size: contain
  background-position: 50%
  background-repeat: no-repeat
  position: relative
  display: inline-block
  width: 32px
  height: 32px
  vertical-align: top
  &.hr
    background-image: url('flag-icons/HR.png')
  &.de
    background-image: url('flag-icons/DE.png')
  &.it
    background-image: url('flag-icons/IT.png')
  &.pt
    background-image: url('flag-icons/PT.png')
  &.ru
    background-image: url('flag-icons/RU.png')
  &.fi
    background-image: url('flag-icons/FI.png')
  &.es
    background-image: url('flag-icons/ES.png')
  &.en
    background-image: url('flag-icons/US.png')
  &.kr
    background-image: url('flag-icons/KR.png')
  &.fr
    background-image: url('flag-icons/FR.png')
