/*!
 * language selection box
 */
.headroom .language-menu
  .dropdown-menu
    text-align: center
    min-width: 200px
    li
      display: inline-block
      margin: 0
      a
        display: inline-block
        clear: none
        padding: 3px 5px 2px 4px
        border-radius: 3px
        border: 2px solid transparent
      &.disabled a span
        filter: grayscale(100%)
        opacity: .5
